/* css dosyası*/

* {
    padding: 0px;
    margin: 0px;
}

#body {
    background-color: #f4f4f4;
    color: black;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#pp {
    width: 100px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    left: 50px;
}

#isimsoyisim {
    width: 70%;
    margin-left: 100px;
    text-align: center;
}


img {
    width: 20px;
    height: auto;

}

aside {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    float: left;
    height: 727px;
    background-color: #f4f4f4;
}

article {
    padding-left: 40px;
    padding-top: 50px;
    background-color: white
}

h1 {
    font-size: 35px;
}

h2 {
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 5px;

}

h4 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 5px;

}

h5 {
    font-size: 15px;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

p {
    text-indent: 20px;
}

@media screen and (max-width: 768px) {
    #body {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: auto;
    }

    aside {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        /*yanyana olan divleri aşağıya aldık*/
        flex-direction: column;
        /* İçerikleri ortalar */
        align-items: center;
        /* Metinleri ortalar */
        text-align: center;
        padding: 20px;
    }

    table {
        text-align: start;
    }

    #pp {
        width: 120px;
        margin: 10px 0;
    }

    article {
        width: 100%;
    }

    #isimsoyisim {
        font-size: 28px;
    }


    h1 {
        font-size: 25px;
    }

    h2 {
        text-decoration: underline;
        font-weight: 900;
        margin-bottom: 5px;
        font-size: 20px;
    }

    h4 {
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px;

    }

    h5 {
        font-size: 12px;
        font-weight: normal;
    }

    p {
        text-indent: 20px;
        font-size: 15px;
    }
}